# Data and generated artifacts
data/raw/
data/processed/
database/*.db
database/*.duckdb
outputs/
outputs/*.json
outputs/logs/*

# Python
__pycache__/
*.pyc
*.py[cod]
*.egg-info/

# Local env
.env
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
